<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

<div class="container mt-4">
  <div class="col-md-8">
    <h2>Daftar Contact Mahasiswa</h2>

    <a href="/addContact" class="btn btn-primary mb-2">Tambah Data Kontak</a>

    <!-- flash message ketika berhasil -->
    <% if (msg.length !== 0 && !duplicate) { %>
      <div class="alert alert-success" role="alert">
        <%= msg %> 
      </div>
    <% } %>

    <!-- flash message ketika gagal -->
    <% if (msg.length !== 0 && duplicate) { %>
        <div class="alert alert-danger" role="alert">
          <%= msg %> 
        </div>
    <% } %>

  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">Nomor</th>
        <th scope="col">NPM</th>
        <th scope="col">Nama Lengkap</th>
        <th scope="col">Kelas</th>
        <th scope="col">Email</th>
        <th scope="col">Aksi</th>
      </tr>

      <!-- loop contact -->
      <tbody>
        <% if(contacts.length === 0) { %>
            <div class="alert alert-danger" role="alert">
              Data contact masih kosong!
            </div>
          <% } %> 
          <% let nomor = 1 %>

        <% contacts.forEach(contact => { %>
          <tr>
            <th scope="row"><%= nomor++ %> </th>
            <td><%= contact.npm %> </td>
            <td><%= contact.nama_lengkap %> </td>
            <td><%= contact.kelas %> </td>
            <td><%= contact.email %> </td>
              <!-- buttons -->
            <td>
                <a href="/updateContact/<%= contact.npm %> " class="btn btn-success badge rounded-pill">Update</a>
                <br>
                <a href="/deleteContact/<%= contact.npm %> " class="btn btn-danger badge rounded-pill" onclick="return confirm('Apakah ingin menghapus contact?')">Delete</a>
            </td>
          </tr>
        <% }) %>  
      </tbody>
    </thead>
  </table>
  </div>
</div>